.footer {
  width: 100vw;
  height: 80px;
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0px 50px;
  font-size: 22px;
  background-color: rgba(255, 255, 255, .80);
}


.footer-links {
  display: flex;
  align-items: center;
  font-size: 30px;
}

.footer-links a {
  text-decoration: none;
  color: black;
  font-size: 46px;
  padding: 0px 10px;
}

.footer-links a:hover {
  color : #45A3A8;
}
